/* CSS Document */
  * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}
div.body{
    padding-right: 15%;
    padding-left: 15%;
    border: solid 1px;
    min-width: 700px;
    
}

header{
    padding: 10px;
    background-color: #ffb3b3;
    text-align: center;
    font-size: 30px;
    border: solid 1px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  width: 100%;
  height: 100%; 
  padding-right: 0;
  border: solid 1px;
  flex-wrap: nowrap;
  
}
div ul{
    border: solid 1px;
}
div.a0{
    background-color: #ffb3b3;
    padding: 14.5px;
    padding-right: 0;
  padding-left: 0;
    
}
div.lep{
    float: left;
    padding-right: 10px;
    padding-left: 20px;
    
}
div.rek{
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    position: fixed;   
    padding-top: 50px;
    overflow-y: scroll;
    flex-wrap: nowrap;
    height: 600px;
    overflow-x: hidden;
}


nav ul {
  list-style-type: none;
  background-color: #ffb3b3;
  padding: 14.5px;
  padding-right: 0;
  padding-left: 0;
  
  margin: 0;
}

a{
    color: black;
    text-decoration: none;
}
a.active {
  background-color: #993333;
  padding-top: 14.5px;
  padding-bottom: 15.5px;
  padding-right: 0px;
  color: white;
}
a.odk{
    color: black;
    text-decoration:underline ;
}
nav ul li:hover{
    background-color: red;
    color: white;
    padding-left: 20px;
    padding-right: 20px ;
    
}

nav ul li {
    color: inherit;
}
li a {
  display: block;
  background-color: #dddddd;
  
  
}
nav ul li{
    width: 100%; 
    padding-top: 14.5px;
    padding-bottom: 15.5px;
    padding-left: 10px;
    display: inline;
    padding-right: 10px;

}
div.obra{
    margin-left: 15px;
    width: 50%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap; 
    
}
div.obra div{
    width: auto;
    margin: 15px;
    
    
}


article.a {
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  width: 100%; 
  background-color: #ff3333;
} 
article{
    padding: 5px;
    float: right;
    width: 100%;
    background-color: #ff3333;
    border: solid 1px;
}

section{
    background-color: #ffb3b3;
}


section:after {
  content: "";
  display: table;
  clear: both;
}
.img{
  float: right ;
  
 
}

footer {
  background-color: #ff6666;
  background-size: 100%;
  padding: 10px;
  text-align: center;
  color: black;
    border: solid 1px;
}

p{
    padding-left: 25px;
}
h3{ 
    padding-left: 20px;
}
div.tab{
    padding-left: 20px;
}
table, th, td {
    border: solid 1px;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}
tr:hover{
    background: #ffb3b3;
}
figcaption{
    padding-left: 20px;
}

